.selectInput {
  color: white;
  border: none;
  outline: none;
  border-radius: inherit;

  &__input {
    color: white !important;
    background-color: #1e1f20;
  }

  select {
    color: none;
  }
  select::placeholder {
    color: #666666;
    opacity: 1;
  }

  fieldset {
    border: none;
    border-color: #141414;
  }

  &__label {
    font-size: 18px;
    margin: 15px 0px;
    font-weight: 200;
  }

  svg {
    color: white;
  }
}
